[submodule "submodules/nori-cli"]
	path = submodules/nori-cli
	url = git@github.com:leto-labs/nori-cli.git
[submodule "submodules/opencode"]
	path = submodules/opencode
	url = https://github.com/leto-labs/opencode.git
[submodule "submodules/atif-rust"]
	path = submodules/atif-rust
	url = git@github.com:leto-labs/atif-rust.git
[submodule "submodules/ai-provider-rs"]
	path = submodules/ai-provider-rs
	url = git@github.com:leto-labs/ai-provider-rs.git
[submodule "submodules/chat-rs"]
	path = submodules/chat-rs
	url = git@github.com:leto-labs/chat-rs.git
